
/*====================Fonts=====================*/

@font-face{
	font-family: 'Open-Sans';
	src: url('serifs/Open-Sans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Open-Sans-Bold';
	src: url('serifs/Open-Sans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-Bold';
	src: url('serifs/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway';
	src: url('serifs/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*====================HTML======================*/

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

/*--------------------header--------------------*/

header {
	width: 100%;
	height: 750px;
	background: url(images/BG_Header.png);
	background-size: cover;
}
.bg_blue {
	width: 100%;
	height: 100%;
	background: rgba(49,52,84,0.95);
}
.header {
	height: 100px;
	width: 1170px;
	display: flex;/*содержимое выравнивается по горизонтали*/
	justify-content: space-between;/*выравнивание по горизонтали*/
	align-items: center;/*выравнивание по вертикали*/
	border-bottom: 1px solid #515369;
}
nav ul {
	display: flex;
	list-style: none;/*убраны обозначения пунктов*/
}
nav li {
	margin-right: 60px;
}
nav li:last-child {
	margin-right: 0px;
}
a {
	color: #fff;
	text-decoration: none;/*убраны подчеркивания*/
	font-size: 13px;
	font-family: "Raleway";
	font-weight: bold;
	text-transform: uppercase;/*заглавные буквы*/
}
.masthead {
	text-align: center;
	width: 1170px;
}
.masthead .lorem {
	font-size: 22px;
	line-height: 1.5em;
	font-family: "Raleway";
	color: #fff;
}
.masthead h1 {
	font-size: 65px;
	margin-top: 140px;
	margin-bottom: 25px;
	line-height: 1.1em;
	font-family: "Open Sans";
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.masthead input {
	margin-top: 50px;
	font-size: 13px;
	font-family: "Raleway";
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	width: 200px;
	height: 46px;
	border-radius: 2px;
	background-color: #E84545;
	border: none;
}

/*--------------------features------------------*/

.features {
	width: 100%;
	height: 700px;
}
.features .container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 100px 0;
	box-sizing: border-box;
}
.feature {
	width: 33.33%;
	min-width: 370px;
	text-align: center;
	margin: auto;

}
.features .row {
	display: flex;
	flex-direction: row;
	height: 50%;
}
.features h3 {
	font-size: 14px;
	font-family: "Raleway";
	color: #2D3033;
	font-weight: bold;
	text-transform: uppercase;
}
.features p {
	font-size: 14px;
	font-family: "Raleway";
	color: #6C7279;
	line-height: 1.5;
}

/*--------------------works---------------------*/

.works {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	background: #2B2E4A;
}
.works .row {
	display: flex;
	flex-direction: row;
}
.works .work {
	width: 25%;
	height: 350px;
}
.works .bg_red {
	width: 100%;
	height: 100%;
}
.works .bg_red:hover {
	background: rgba(240, 70, 70, 0.9);
	transition: 0.4s;
}
.works .work1 {
	background: url(images/Work1.png);
	background-size: cover;
}
.works .work2 {
	background: url(images/Work2.png);
	background-size: cover;
}
.works .work3 {
	background: url(images/Work3.png);
	background-size: cover;
}
.works .work4 {
	background: url(images/Work4.png);
	background-size: cover;
}
.works .work5 {
	background: url(images/Work5.png);
	background-size: cover;
}
.works .work6 {
	background: url(images/Work6.png);
	background-size: cover;
}
.works .work7 {
	background: url(images/Work7.png);
	background-size: cover;
}
.works .work8 {
	background: url(images/Work8.png);
	background-size: cover;
}
.works h5 {
	visibility: hidden;
	font-size: 14px;
	font-family: "Raleway";
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 155px 0 0 0;
}
.works p {
	visibility: hidden;
	font-size: 14px;
	font-family: "Raleway";
	color: #fff;
	margin: 15px 0 0 0;
	text-align: center;
}
.works .bg_red:hover h5 {
	transition-delay: 0.2s;
	visibility: visible;
}
.works .bg_red:hover p {
	transition-delay: 0.2s;
	visibility: visible;
}

/*--------------------footer--------------------*/

